@model centricTeam4.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Profile Details</h2>

<div>
    @*<h4>Profile</h4>*@
    <hr />
    <dl class="dl-horizontal table table-condensed">
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @*@{
                    foreach (var a in Model.personGettingRecognition)
                    {<div> @a.award</div>}

                }*@

            @*@Html.DisplayNameFor(model => model.photo)*@
        </dt>

        <dd>
            @*@{
                    var recognitionCount = Model.personGettingRecognition.Count();
                }
                @recognitionCount*@
            @*@Html.DisplayFor(model => model.photo)*@
        </dd>

    </dl>
    @{
        centricTeam4.DAL.MIS4200Team4Context db = new centricTeam4.DAL.MIS4200Team4Context();
        var recognitions = db.EmployeeRecognitions.Where(r => r.recognized == Model.ProfileID);
        Html.RenderPartial("_recognitionDetails", recognitions.ToList());
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
