@model IEnumerable<centricTeam4.Models.Profile>

@{
    ViewBag.Title = "Profile";
}

<h2>Create Profile</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfileID })
        </td>
    </tr>
}

</table>
