@model centricTeam4.Models.recognition

@{
    ViewBag.Title = "Details of Recognition";
}

<h2>View Details</h2>

<div>
    <h4>recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profileID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recognitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
